* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: Italic;
  width:500px;
  margin: 50px auto;
}

p {
  display: Italic;
  width: 200px;
  margin: 30px auto;
  font: 15px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
